@import "./App.scss";

.cars-deck 
{
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 0 !important;
}

.cars-deck .card
{
    margin: 0 !important;
}

.cars-deck .card p
{
    margin-bottom: 2px;
}
